data/* filter=lfs diff=lfs merge=lfs -text
data/llm/distilgpt2-reddit-finetuned/model.safetensors filter=lfs diff=lfs merge=lfs -text
data/llm/tokenized_reddit_data/data-00000-of-00001.arrow filter=lfs diff=lfs merge=lfs -text
